footer {
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    padding-bottom: 50px;
    height:50px;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
.contact{
    font-size: 40px;
    margin:0;
}

.mail{
    font-size: 30px;
    margin:0;
}

@media only screen and (max-width: 1000px) {
    footer {
        padding-bottom: 20px;

    }
    .contact{
        font-size: 30px;
        margin:0;
    }
    
    .mail{
        font-size: 15px;
        margin:0;
    }
}